{% extends "pages/base.html" %}

{% block headTags %}
<title>971town</title>
<meta name="description"
      content="Welcome to the beta of 971town, a project with the aim of cataloging every product being sold in every
                physical retail store in Dubai!" />
{% endblock %}

{% block content %}
<p><a href="https://www.reddit.com/user/971town/comments/120xkxg/v02_the_product_update/">Join the beta</a> and start contributing!</p>
<p>To share feedback or report bugs, you can do so via the TestFlight app or the <a href="https://www.reddit.com/r/971town/">971town
            subreddit</a>.</p>
{% endblock %}